<ion-view view-title="Deployment Information">
  <ion-content class="padding">
    <form name="messageForm" ng-submit="smsSend()">
      <div class="list">
        
        <div class="item item-divider item-icon-left">
          <i class="icon ion-information-circled custom-icon-list"></i>
          General Information
        </div>

        <div class="item" >
            <h3>{{keeperInfo.DESCRIPTION}}</h3>
            <p>{{keeperInfo.COUNTRY}}</p>
            <p>{{keeperInfo.MODULE}}</p>
            <p>{{keeperInfo.SUBMODULES}}</p>
            <p>{{keeperInfo.ENTITY}}</p>
        </div>

        <div class="item item-divider item-icon-left">
          <i class="icon ion-archive custom-icon-list"></i>
          Disk information
        </div>

        <div class="item" >
            <h2>{{keeperInfo.DESCRIPTION}}</h2>
            <p>{{keeperInfo.COUNTRY}}</p>
            <p>{{keeperInfo.MODULE}}</p>
            <p>{{keeperInfo.SUBMODULES}}</p>
        </div>

        <div class="item item-divider item-icon-left">
          <i class="icon ion-ios-timer custom-icon-list"></i>
          Memory information
        </div>

        <div class="item" >
            <h2>{{keeperInfo.DESCRIPTION}}</h2>
            <p>{{keeperInfo.COUNTRY}}</p>
            <p>{{keeperInfo.MODULE}}</p>
            <p>{{keeperInfo.SUBMODULES}}</p>
        </div>


      </div>
      
    </form>

  </ion-content>
</ion-view>