<ion-view view-title="Deployment Info">
  <ion-content class="padding">
    <form name="messageForm" ng-submit="smsSend()">
      <div class="list">

        <div class="item item-divider item-icon-left">
          <i class="icon ion-email"></i>
          General Information
        </div>

        <div class="item" >
            <h2>{{keeperInfo.DESCRIPTION}}</h2>
            <p>{{keeperInfo.COUNTRY}}</p>
            <p>{{keeperInfo.MODULE}}</p>
            <p>{{keeperInfo.SUBMODULES}}</p>
        </div>

        <div class="item item-divider item-icon-left">
          DataBase Server
        </div>

        <div class="item" >
            <h2>{{keeperInfo.DESCRIPTION}}</h2>
            <p>{{keeperInfo.COUNTRY}}</p>
            <p>{{keeperInfo.MODULE}}</p>
            <p>{{keeperInfo.SUBMODULES}}</p>
        </div>

        <div class="item item-divider item-icon-left">
          Application Server
        </div>

        <div class="item" ng-repeat="item in respPreview" >
            <span class="right; badge badge-dark">{{item.quantity}}</span><span class="left">{{item.operator_name}}</span>​
        </div>        
      </div>
      <div class="padding">
        <button class="button button-block button-energized" ng-disabled="messageForm.$invalid">Send</button>
      </div>
    </form>

  </ion-content>
</ion-view>