<ion-view view-title="Incoming">
	<ion-content>
		<div class="item item-input-inset" >
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" ng-model="searchQuery"></input>
			</label>&nbsp;
			<select ng-model="selectedItem.value" ng-change="updateIncomingRequestList()">
	           <option ng-selected="{{isSelected(each)}}" ng-repeat="each in filterUnits" value="{{each.value}}" >
	              {{each.label}}
	           </option>
	        </select>
		</div>
		<list>
			<div class="item" ng-repeat="item in items | filter:searchQuery">
				<div class="card ink ink-dark" style="background:#f6f6f6">	
				  <div class="item item-text-wrap">
				  	<div class="card-footer" style="font-size:16px; color:#000;">
						<i class="icon ion-android-person"></i>&nbsp;{{item.src_phone_number}}
                    </div>								
					<p>{{item.incoming_message}}</p>
					<div class="card-footer">
						<i class="icon ion-clock"></i> {{item.stringIncomingDate}}
                    </div>
					<!--p style="font-size: 17px; ">
						<span style="font-size:11px;vertical-align:middle;padding-bottom:5px;">{{item.stringIncomingDate}}</span>
					</p-->
				  </div>
				</div>
				<div class="card stable-bg ink ink-dark">	
				  <div class="item item-text-wrap" style="text-align:right">
				  	<div class="card-footer" style="font-size:16px; color:#000;">
						{{item.operatorName}} {{item.tgt_phone_number}} <i class="icon ion-android-phone-portrait"></i>
                    </div>
					<p>{{item.outgoing_message}}</p>				
					<div class="card-footer">
						<i class="icon ion-clock"></i> {{item.stringResponseDate}}
                        <i class="{{getImage(item.ca_status)}}" style="color: {{getColor(item.ca_status)}};font-size: 17px;"></i>
                    </div>
					<!--p>
						<span style="font-size:11px;vertical-align:middle;padding-bottom:5px;">{{item.stringResponseDate}}</span>
						<i class="{{getImage(item.ca_status)}}" style="color: {{getColor(item.ca_status)}};font-size: 17px;"></i>
					</p-->
				  </div>
				</div>
			</div>
		</list>
	</ion-content>
</ion-view>
