<ion-view view-title="Login" >
    <ion-content>
        <div class="padding">
            <h4>Login</h4>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive button-theme" ng-click="login(user)" nav-clear>
                Iniciar Sesion
            </button>
            
        </div>
    </ion-content>
</ion-view>