<ion-view title="Alert Message">
  
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ng-click="reloadAll()" class="button button-icon ion-loop"></button>
  </ion-nav-buttons>

  <ion-content data-tap-disabled="true">
    <!--<ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="doRefresh()">
	 </ion-refresher>-->
    <leaflet defaults="map.defaults" center="map.center" controls="map.controls" layers="map.layers" markers="map.markers" ng-if="map"></leaflet>
  </ion-content>
</ion-view>
