<ion-view title="{{'ALERT_MESSAGE'| translate}}">
  
  <button ng-click="reloadAll()" class="button button-fab button-balanced icon ion-loop" 
  style="background: #a21522; position: fixed; bottom: 20px; right: 10px;"></button>

  <ion-content data-tap-disabled="true">
    <!--<ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="doRefresh()">
	 </ion-refresher>-->
    <leaflet defaults="map.defaults" center="map.center" controls="map.controls" layers="map.layers" markers="map.markers" ng-if="map"></leaflet>
  </ion-content>
</ion-view>
