<ion-modal-view>
  <ion-header-bar class="bar-assertive-900" style="background:#3f3f3f">

    <h4 class="title" style="color:#fff">Write Message</h4>

    <button ng-click="closeModal()" class="button button-fab button-balanced icon ion-android-close" 
    style="background: #a21522; position: fixed; top: 10px; right: 10px;"></button>

  </ion-header-bar>

  <ion-content>

    <form name="messageForm" >

      <div class="list">

        <div class="item item-divider item-icon-left" style="line-height:30px; font-size:16px; background:#eaeaea;">
          <i class="icon ion-email custom-icon-list"></i>
          {{'MESSAGE_DETAIL'| translate}}
        </div>

        <div>
          <label class="item item-input">        
            <textarea rows="4" placeholder="{{'WRITE_MESSAGE'| translate}}" ng-model="circleMessage.message" ng-minlength="1" ng-maxlength="160" required name="message">
            </textarea>
          </label>
        </div>

        <div role="alert">
          <span class="error" ng-show="messageForm.message.$error.maxlength">
            The message is too long</span>
        </div>

        <label class="item item-input item-select" >
          <span class="input-label">Type</span>
          <select ng-model="messageType.id">
            <option ng-repeat="item in messageTypes" value="{{item.id}}" ng-selected="isSelectedMessageType(item)">
               {{item.name}}
            </option>
          </select>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">Priority</span>
          <select ng-model="priority.id">
            <option ng-repeat="item in priorities" value="{{item.id}}" ng-selected="isSelectedPriority(item)">
               {{item.name}}
            </option>
          </select>
        </label>

        <label class="item item-input"> 
          <span class="input-label left">Delivery</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ionic-datepicker input-obj="datepickerObject" >
              <!--<button class="button button-clear button-dark" > {{datepickerObject.inputDate | date:'dd-MMMM-yyyy'}}</button>-->
              <button style="float:right;" class="button button-icon icon ion-android-calendar"></button>
            </ionic-datepicker>
          
        </label>

        <div class="item item-divider item-icon-left" style="line-height:30px; font-size:16px; background:#eaeaea;">
          <i class="icon ion-android-wifi custom-icon-list"></i>
          Operators
        </div>
  
        <ion-checkbox ng-repeat="item in operators"
                      ng-model="item.checked" 
                      ng-checked="item.checked" 
                      class="my-checkbox-class" >
          {{item.name}}
        </ion-checkbox>

        <div class="padding">
            <button ng-click="smsPreview()" ng-disabled="messageForm.$invalid"
             class="button button-full button-assertive ink" style="background: #074d61;">Preview</button>
        </div>
      </div>

    </form>

  </ion-content>

</ion-modal-view>