<ion-modal-view>
  <ion-header-bar class="bar-assertive-900" style="background:#3f3f3f">

    <h4 class="title" style="color:#fff">Write Message</h4>

    <button ng-click="closeModal()" class="button button-fab button-balanced icon ion-android-close" 
    style="background: #a21522; position: fixed; top: 10px; right: 10px;"></button>

  </ion-header-bar>

  <ion-content>

    <form name="messageForm" >

      <div class="list">

        <div class="item item-divider item-icon-left" style="line-height:30px; font-size:16px; background:#eaeaea;">
          <i class="icon ion-email custom-icon-list"></i>
          {{'MESSAGE_DETAIL'| translate}}
        </div>

        <div>
          <label class="item item-input">        
            <textarea rows="4" placeholder="{{'WRITE_MESSAGE'| translate}}" ng-model="circleMessage.message" ng-minlength="1" ng-maxlength="160" required name="message">
            </textarea>
          </label>
        </div>

        <div role="alert">
          <span class="error" ng-show="messageForm.message.$error.maxlength">
            {{'MSG_LONG_VALIDATION'| translate}}</span>
        </div>

        <label class="item item-input item-select" >
          <span class="input-label">{{'TYPE'| translate}}</span>
          <select ng-options="item.name for item in messageTypes" ng-model="selectMessageType" ng-change="changeMessageType(selectMessageType)">
            <!--option ng-repeat="item in messageTypes" value="{{item.id}}" >
               {{item.name}}
            </option-->
          </select>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">{{'PRIORITY'| translate}}</span>
          <select ng-options="item.name for item in priorities" ng-model="selectPriority" ng-change="changePriority(selectPriority)">
          </select>
        </label>

        <!--label class="item item-input"> 
          <span class="input-label left">{{'DELIVERY'| translate}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ionic-datepicker input-obj="datepickerObject" >
              <!--<button class="button button-clear button-dark" > {{datepickerObject.inputDate | date:'dd-MMMM-yyyy'}}</button>-->
              <!--<button style="float:right;" class="button button-icon icon ion-android-calendar"></button>
            </ionic-datepicker>          
        </label-->

        <label class="item item-input">
          <span class="input-label">{{'DELIVERY'| translate}}</span>
          <input type="date" ng-model="datePicker">
        </label>

         <div role="alert">
          <span class="error" ng-show="datePicker && datePicker < currentDate">
            {{'MSG_DATE_VALIDITY'| translate}}</span>
        </div>

        <div class="item item-divider item-icon-left" style="line-height:30px; font-size:16px; background:#eaeaea;">
          <i class="icon ion-android-wifi custom-icon-list"></i>
          {{'OPERATORS'| translate}}
        </div>
  
        <ion-checkbox ng-repeat="item in operators"
                      ng-model="item.checked" 
                      ng-checked="item.checked" 
                      class="my-checkbox-class" >
          {{item.name}}
        </ion-checkbox>

        <div class="padding">
            <button ng-click="smsPreview()" ng-disabled="messageForm.$invalid || (datePicker && datePicker < currentDate)"
             class="button button-full button-assertive ink" style="background: #074d61;">{{'PREVIEW'| translate}}</button>
        </div>
      </div>

    </form>

  </ion-content>

</ion-modal-view>